*{
    background-color: rgb(255, 222, 227);
    
}
main{
    overflow: hidden;
}
img{
    width:55%;
    border: 5px solid #A94064;
}
.intro p{
    margin: 20px 0px 20px 0px;
}
.active{
    background-color: rgb(255, 222, 227);
    border: solid 3px white;
}
.images ol{
    display: grid;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    text-align: center;
    padding: 0px;
}
.intro p, h1{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
h1{
    font-size: 32px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
/* style nav */
nav li{
    display:inline;
    padding: 0px 10px 0px 10px;
    background-color: #A94064
  
}
/* style nav */
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}
/* style nav */
nav{
background-color: #A94064;
padding: 25px 0; 
text-align: left;
}
nav ul{
    display: flex;
    background-color: #A94064;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

/* add focus on nav */
a:focus, a:hover {
    background-color: rgb(255, 222, 227);
    border: solid 3px white;
    padding: 20px;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a { 
    position: absolute;
    top: -40px;
}
.skip a:focus {
    position: absolute;
    top: 20px;
}
footer{
    background-color: #A94064;
    color: white;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 20px;
    }
    nav ul{
        justify-content: flex-start;
    }
    .images ol{
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        grid-gap: 15px;
        text-align: center;
        padding: 0px;
    }
    img{
        width: 60%;
    }
    
}
@media screen and (min-width: 800px) {
    h1{
        font-size: 32px;
    }
    nav ul{
        justify-content: flex-end;
    }
    .images ol{
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        grid-gap: 15px;
        text-align: center;
        padding: 0px;
    }
    img{
        width: 80%;
    }
}