
#submit:hover{
   background-color: #e8ded1;
}

fieldset{
    display: block;
}
nav li{
    display:inline;
    padding-right:10px;
    background-color: #90ee90;
    padding: 0px 10px 0px 10px;
  
}
nav ul{
    display: flex;
    background-color: #90ee90;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}
nav{
    background-color: #90ee90;
    padding: 25px 0; 
    text-align: left;
}

/* add focus on nav */
a:focus, a:hover {
    /* text-decoration-line: underline; */
    background-color: green;
    border: solid 3px white;
    padding: 20px;
    color:white;

}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a { 
    position: absolute;
    top: -40px;
}
.skip a:focus {
    position: absolute;
    top: 20px;
}
.firstname, .lastname, .email, .message,.submit{
    display:block;
}
footer{
    background-color: #90ee90;
    color: black;
    
}