*{
    background-color: #E5D4EF;
}
main{
    overflow: hidden;
}
img{
    width: 50%;
    border: 5px solid #7b2089;
    padding: 0px;
   
}
.tv img{
    width: 75%;
    height: 55%;
}

.images ol{
    display: grid;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    text-align: center;
    padding: 0px;
}


.tv ol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    text-align: center;
    padding: 0px;
}
.intro h1, .intro p, .tv p, .tv h1{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.intro p{
    margin: 20px 0px 20px 0px;
}
h1, h2{
    font-weight: bold;
}
h1{
    font-size: 24px;

}
h2{
    font-size: 18px;
}

/* style nav */
nav li{
    display:inline;
    padding-right:10px;
    background-color: #7b2089;
    padding: 0px 10px 0px 10px;
  
}
nav ul{
    display: flex;
    background-color: #7b2089;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}
nav{
    background-color: #7b2089;
    padding: 25px 0; 
    text-align: left;
}

/* add focus on nav */
nav a:focus, nav a:hover {
    /* text-decoration-line: underline; */
    background-color: #E5D4EF;
    border: solid 3px white;
    padding: 20px;

}
.active{
    background-color: #E5D4EF;
    border: solid 3px white;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a { 
    position: absolute;
    top: -40px;
}
.skip a:focus {
    position: absolute;
    top: 20px;
}
footer{
    background-color: #7b2089;
    color: white;
    
}
footer a{
    color: white;

}
footer a:hover, footer a:focus{
    border: solid 2px white;
    padding: 10px;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    nav ul{
        justify-content: flex-start;
    }
    .images ol{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        grid-gap: 15px;
        text-align: center;
        padding: 0px;
    }
    .tv ol{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        gap: 15px;
        text-align: center;
        padding: 0px;
    }
    img{
        width:60%;
    }
}
@media screen and (min-width: 800px) {
    nav ul{
        justify-content: flex-end;
    }
    .images ol{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        gap: 15px;
        text-align: center;
        padding: 0px;
    }
    .tv ol{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        gap: 15px;
        text-align: center;
        padding: 0px;
    }
    .wintersoldier{
        grid-column: 2/ span 1;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    img{
        width: 80%;
    }
    .tv img{
        width: 60%;
    }
}
  