*{
    background-color: #D6E6FF;
}

img{
    width:400px;
    height:593px;
    border: 5px solid #2E5984;
}
.images ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    text-align: center;
    padding: 0px;
}
.httyd, .cars, .brave{
    grid-row: 1/ span 1;
}
.spiderman,.bighero,.walle{

    /* grid-column: 1/span 1; */
    grid-row: 2/ span 1;
}
.mulan, .boots, .panda{
   
    /* grid-column: 3 /span 1; */
    grid-row: 3 /span 1;
}
.intro p, h1{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
/* style nav */
nav li{
    display:inline;
    padding-right:20px;
    background-color: #2E5984;
    padding: 0px 20px 0px 20px;
  
}
nav ul{
    display: flex;
    background-color: #2E5984;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}
/* style nav */
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    background-color: white;
    padding: 20px;
    border-radius: 40px;
}

/* style nav */
nav{
background-color: #2E5984;
padding: 25px 0; 
text-align: left;
}

/* add focus on nav */
a:focus, a:hover {
    text-decoration-line: underline;
}
/* .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
} */