*{
    /* background-color: #D7F9F8; */
    background-color: #E5D4EF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.images img{
    width:400px;
    height:593px;
    border: 5px solid #7b2089;
    padding: 0px;
   
}
div{
    display:inline;
 
}
.images li{
    font-size: 30px;
    /* margin: 0px 100px 0px 0px; */
}
/* .introduction img{
    width: 567px;
    height: 262px;

} */